/* @FONT-FACE */
@font-face {
  font-family: "Poppins400";
  src: url(/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins500";
  src: url(/fonts/Poppins/Poppins-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins600";
  src: url(/fonts/Poppins/Poppins-MediumItalic.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins700";
  src: url(/fonts/Poppins/Poppins-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --whiteText: #f8f8f8;
  --secondary: #0a0b5b;
}

/* Main Styles for Mobile */

body {
  background-color: hsl(0, 100%, 74%);
  background-image: url(/images/bg-intro-mobile.png);
  background-repeat: no-repeat;
  padding: 0px 15px;
}

p {
  font-family: "Poppins400";
  font-size: 16px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 3fr);

  /* */
}

#welcomeText {
  grid-column: 1/3;
  grid-row: 2;
  padding: 8px 48px;
  margin-left: 5px;
}

#welcomeText h1 {
  font-family: "Poppins700";
  font-size: 3.2em;
  text-align: left;

  /* color: var(--whiteText); */
  color: black;
  margin-top: 99px;
  margin-left: 105px;
  padding: 0 40px;
  line-height: 58px;
}

#welcomeText p {
  color: var(--whiteText);
  color: black;
  text-align: left;

  grid-column: 1/5;
  margin-left: 144px;
  padding-right: 20px;
  line-height: 25px;
  margin-top: -4px;
}

.buttonTop {
  font-family: "Poppins400";
  color: var(--whiteText);
  grid-column: 3/4;
  /* background-color: hsl(248, 32%, 49%); */
  display: inline-block;
  justify-content: center;
  width: 140%;
  height: 64px;
  margin-top: 112px;

  background-color: yellow;
  box-shadow: 1px 3px 0px rgba(0, 0, 0, 0.35);
  border-radius: 7px;
}

.buttonTop:hover {
  opacity: 0.7;
}

.smallerText {
  font-weight: lighter;
  color: hsl(246, 25%, 77%);
}

.smallerText a {
  text-decoration: none;
  color: hsl(0, 100%, 74%);
}

form {
  font-family: "Poppins400";
  background-color: #f8f8f8;
  padding: 25px 15px;
  border-radius: 7px;
  grid-column: 3/5;
  grid-row: 2/3;

  margin-top: 14px;
  width: 70%;
  height: 102%;
  box-sizing: border-box;

  background-color: greenyellow;
}

input {
  font-family: "Poppins500";
  grid-column: 1/5;
  width: 90%;

  border: 1px solid red;
  border-radius: 2px;

  padding: 17px 0;
  margin-left: 26px;
  margin-bottom: 15px;

  box-sizing: border-box;
  /* height: 100%; */
}
::placeholder {
  color: blue;
  font-size: 1.1em;
  text-indent: 26px;
}
.buttonBottom {
  background-color: hsl(154, 59%, 51%);
  background-color: purple;
  color: var(--whiteText);
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 14px 0;
  grid-column: 1/5;

  margin: 15px 23px;
  /* letter-spacing: 2px; */
  font-family: "Poppins500";
  font-size: 1em;
  margin: 17px 28px;
}

.buttonBottom:hover {
  opacity: 0.7;
}
button {
  cursor: pointer;
}
.bottomOfForm {
  font-size: smaller;
  grid-column: 1/5;
}

.bottomOfForm a:hover {
  text-decoration: underline;
}

.attribution {
  margin: 60px 0;
  color: var(--whiteText);
  color: rgb(41, 41, 41);
  font-family: "Poppins700";
}

.attribution a {
  text-decoration: none;
  color: #0a0b5b;
}

.attribution a:hover {
  text-decoration: underline;
}

/* Responsive for Phones */
@media screen and (min-width: 320px) {
}

/* Responsive for Tablets */
@media screen and (min-width: 960px) {
}

/* Responsive for desktops */
@media screen and (min-width: 1440px) {
}
